<!DOCTYPE html>
<html lang="en">
<!--

CUM 

[Intro: Jake Paul]
Yah
Y'all can't handle this
Y'all don't know what's about to happen, baby
(It's everyday bro, everyday)
Team 10
Los Angeles, Cali boy
But I'm from Ohio though, white boy

[Verse 1: Jake Paul]
It's everyday, bro, with the Disney Channel flow
Five mil' on YouTube in six months, never done before
Passed all the competition, man, PewDiePie is next
Man, I'm poppin' all these checks, got the brand new Rolex
And it match the Lambo too, and I'm coming with the crew
This is Team 10, bitch, who the hell are flippin' you?
And you know I kick them out if they ain't with the crew
Yeah, I'm talking about you, you beggin' for attention
Talking shit on Twitter, too, but you still hit my phone last night
It was 4:52, and I got the text to prove
And all the recordings too, don't make me tell them the truth
And I just dropped some new merch, and it's selling like a god church

	Y'all can't handle this
Y'all don't know what's about to happen baby
Team 10
Los Angeles, Cali boy
But I'm from Ohio though, white boy
It's everyday bro, with the Disney Channel flow
5 mill on YouTube in 6 months, never done before
Passed all the competition man, PewDiePie is next
Man I'm poppin' all these checks, got a brand new Rolex
And I met a Lambo too and I'm coming with the crew
This is Team 10, bitch, who the hell are flippin' you?
And you know I kick them out if they ain't with the crew
Yeah, I'm talking about you, you beggin' for attention
Talking shit on Twitter too but you still hit my phone last night
It was 4:52 and I got the text to prove
And all the recordings too, don't make me tell them the truth
And I just dropped some new merch and it's selling like a god, church

Ohio's where I'm from, we chew 'em like it's gum
We shooting with a gun, the tattoo just for fun
I Usain Bolt and run, catch me at game one
I cannot be outdone, Jake Paul is number one


[Chorus: Jake Paul]
It's everyday bro
It's everyday bro
It's everyday bro
I said it's everyday bro!

[Verse 2: Nick Crompton]
You know it's Nick Crompton, and my collar stay poppin'
Yes, I can rap, and no, I'm not from Compton
England is my city
And if it weren't for Team 10, then the US would be shitty
I'll pass it to Chance, 'cause you know he stay litty

[Verse 3: Chance Sutton]
Two months ago, you didn't know my name
And now you want my fame?
Bitch I'm blowin' up, I'm only going up
Now I'm going off, I'm never fallin' off
Like Mag, who? Digi who? Who are you?
All these beefs, I just ran through, hit a milli' in a month
Where were you? Hatin' on me back in West Fake
Think you need to get your shit straight
Jakey brought me to the top, now we really poppin' off
Number one and number four, that's why these fans all at our door
It's lonely at the top, so we all going
We left Ohio, now the trio's all rollin'
It's Team 10, bitch
We back again, always first, never last
We the future, we'll see you in the past

[Chorus: Jake Paul]
It's everyday bro
It's everyday bro
It's everyday bro
I said it's everyday bro!

[Interlude: Martinez Twins]
Hold on, hold on, hold on (Espera)
Can we switch the language? (Ha, ya tú sabe')
We 'bout to hit it (Dale)

[Verse 4: Martinez Twins]
Sí, lo único que quiero es dinero
Trabajando en YouTube todo el día entero (Dale)
Viviendo en U.S.A, el sueño de cualquiera (Ha)
Enviando dólares a mi familia entera (Pasta)
Tenemos una persona por encima
Se llama Donald Trump y está en la cima
Desde aquí te cantamos, can I get my VISA?
Martinez Twins, representando España
Desde la pobreza a la fama

[Chorus: Jake Paul]
It's everyday bro
It's everyday bro
It's everyday bro
I said it's everyday bro!

[Verse 5: Tessa Brooks]

It's everyday bro
It's everyday bro
It's everyday bro
I said it is everyday bro!
You know it's Nick Crompton and my collar stay poppin'
Yes, I can rap and no, I am not from Compton
England is my city
And if it weren't for Team 10, then the US would be shitty
I'll pass it to Chance 'cause you know he stay litty
Two months ago you didn't know my name
And now you want my fame? Bitch I'm blowin' up
I'm only going up, now I'm going off, I'm never fallin' off
Like Mag, who? Digi who? Who are you?
All these beefs I just ran through, hit a milli in a month
Where were you? Hatin' on me back in West Fake
You need to get your shit straight
Jakey brought me to the top, now we're really poppin' off
Number one and number four, that's why these fans all at our door
It's lonely at the top so we all going
We left Ohio, now the trio is all rollin'
It's Team 10, bitch
We back again, always first, never last
We the future, we'll see you in the past
It's everyday bro
It's everyday bro
It's everyday bro
I said it is everyday bro!
Hold on, hold on, hold on, hold on (espera)
Can we switch the language? (Ha, ya tú sabes)
We 'bout to hit it (dale)
Sí, lo único que quiero es dinero
Trabajando en YouTube todo el día entero
Viviendo en U.S.A, el sueño de cualquiera
Enviando dólares a mi familia entera
Tenemos una persona por encima
Se llama Donald Trump y está en la cima
Desde aquí te cantamos can I get my VISA?
Martinez Twins, representando España
Desde la pobreza a la fama
It's everyday bro
It's everyday bro
It's everyday bro
I said it is everyday bro!

Yo, it's Tessa Brooks
The competition shook
These guys up on me
I got 'em with the hook

Lemme educate ya
And I ain't talking book
Panera is your home
So stop calling my phone

Lemme educate ya'
And I ain't talking book
Panera is your home?
So, stop calling my phone
I'm flyin' like a drone
They buying like a loan
Yeah, I smell good
Is that your boy's cologne?

[Verse 6: Jake Paul]
Is that your boy's cologne?
Started ballin', Quicken Loans
Now I'm in my flippin' zone
Yes, they all copy me, but
That's some shitty clones
Stay in all designer clothes
And they ask me what I make
I said, "It's ten with six zeros"
Always plug merch link in bio
And I will see you tomorrow 'cause
It's everyday bro
Peace

Is that your boy's cologne?
Started balling', quicken Loans
Now I'm in my flippin' zone
Yes, they all copy me
But, that's some shitty clones
Stay in all designer clothes
And they ask me what I make
I said is 10 with six zeros
Always plug, merch link in bio
And I will see you tomorrow 'cause it's everyday bro
Peace
Ya tú sabes baby, Jake Paul 
-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
  <meta property="og:image" content="/assets/favicon/favicon-96x96.png">
  <title>IMPERIAL</title>
  <meta name="description" content="IMPERIAL is a code/text storing site where you can share, edit, or encrypt documents with integrations such as Discord and GitHub Gists. ">
  <meta name="keywords"
    content="Imperial, Imperialb, Imperialbin, imperialb.in, hastebin, bin, paste, instant delete pastes, document sharing, code sharing, visual studio code, vsce, vsc, vs, visual studio, code, developer, developers, dev, devlooskie, looskie, looskieee, IMPERIAL, paste your document, paste, your, document, editor, invite only, invite, api, restful api, json api, discord">
  <link rel="stylesheet" href="/assets/css/reallyGlobal.css?cum=fgedswwergewrggwefr">
  <link rel="stylesheet" href="https://unpkg.com/tippy.js@6.2.7/animations/shift-away.css?cum=fgedswgwefr" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/ec3f0c8487.js?cum=fgedswgwefrwerg" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/@popperjs/core@2?cum=fgedswergwgwefr"></script>
  <script src="https://unpkg.com/tippy.js@6?cum=fgedswgergwefr"></script>
</head>


<body>
  <div class="pasteSettings" id="addUser">
    <div class="pasteContainer">
      <h1>Add users to allow edit access</h1>
      <span id="editor-error"></span><br>
      <input id="user" type="text" autocomplete="off" placeholder="Add a user here">
      <button class="addUserBtn" onclick="addUser(document.getElementById('user').value)">Add user</button>
      <ul id="editorArray" class="editorArray"></ul>
      <br><button id="cancel-settings" class="cancelSettings" onclick="clearUsers()">Cancel and clear</button>
      <button onclick="closeAddUser()">Save</button>
      <br><br>
    </div>
  </div>
  <div class="pasteSettings" id="setLanguage">
    <div class="pasteContainer" id="putMarginOnThisPlease">
      <h1 id="selectLanguage">Select a language</h1>
      <button class="customStupidXButton tooltip" data-tippy-content="Close window (esc)"
        onclick="closeLanguageSelector()"><i class="far fa-times-circle"></i></button>
      <input type="text" class="searchBar" id="searchBarTings"
        oninput="searchResults(document.getElementById('searchBarTings').value)" placeholder="Search" autocomplete="off" autofocus>
      <ul class="languageList" id="languageList">
      </ul>
      <br>
      <button class="closeBtn" onclick="closeLanguageSelector()">Close</button>
      <br><br>
    </div>
  </div>
  <% if( loggedIn ) {%>
  <div class="menu">
    <div class="settings" id="accountDrop" style="display: none;">
      <ul class="account">
        <li class="setting" onclick="location.href='/account'">User settings</li>
        <li class="setting" onclick="location.href='/account#documentSettings'">Doc. settings</li>
        <li class="setting" id="discord" onclick="window.open('https://imperialb.in/dsc', '_blank')">
          Discord</li>
        <div class="dumbLine"></div>
        <% if (isAdmin) { %>
          <li class="setting" onclick="location.href='/admin'">Admin panel</li>
        <% } %>
        <li class="setting" id="logoutBtn" onclick="location.href = '/logout?_method=DELETE'">Logout
        </li>
      </ul>
    </div>
    <div class="menu-content">
      <h6>IMPERIAL</h6>
      <ul>
        <li id="changeLanguage" class="tooltip" data-tippy-content="Change language"><button id="icon"
            class="changeLanguageBtn" onclick="openLanguageSelector()"><i class="fas fa-minus"></i></button>
        </li>
        <li id="users" class="addEditors tooltip" data-tippy-content="Add users"><button id="icon"
            onclick="toggleAddUser()"><i class="fas fa-user-friends"></i></button></li>
        <li id="save" class="save tooltip" data-tippy-content="Save document"> <button id="icon"
            onclick="createDocument()"><i class="far fa-save fa-lg"></i></button>
        </li>
        <li id="new" class="new tooltip" data-tippy-content="New document"> <button id="icon" onclick="newDocument()"><i
              class="fas fa-file-alt fa-lg"></i></button> </li>
        <li id="account"> <img src="<%= pfp %>" alt="Profile picture" class="pfp" draggable="false">
        </li>
      </ul>
    </div>
    <ul id="messages"></ul>
  </div>
  <% } else { %>
  <div class="menu">
    <div class="settings" id="accountDrop" style="display: none;"></div>
    <div class="menu-content">
      <h6>IMPERIAL</h6>
      <ul>
        <li id="changeLanguage" class="tooltip" data-tippy-content="Change language"><button id="icon"
            class="changeLanguageBtn" onclick="openLanguageSelector()"><i class="fas fa-minus"></i></button>
        </li>
        <li id="save" class="save tooltip" data-tippy-content="Save document"> <button id="icon"
            onclick="createDocument()"><i class="far fa-save fa-lg"></i></button>
        </li>
        <li id="new" class="new tooltip" data-tippy-content="New document"> <button id="icon" onclick="newDocument()"><i
              class="fas fa-file-alt fa-lg"></i><br></button>
        </li>
        <li class="loginBtn"> <button id="login" onclick="location.href='/login'">Login</button> </li>
        <li> <button id="signup" onclick="location.href='/register'">Signup</button> </li>
        <li id="account"> <img src="/assets/img/pfp.png" alt="Profile picture" class="pfp" draggable="false"
            style="display: none"> </li>
      </ul>
    </div>
    <ul id="messages"></ul>
  </div>
  <% }%>
  <div id="codeThing" class="editor" onkeydown="saveText()"></div>
  <script src="/assets/js/main.js?cum=fgedswgwefr"></script>
  <script src="/assets/js/highlight.js?cum=fgedswgwefr"></script>
  <script src="/assets/js/src-min-noconflict/ace.js?cum=fgedswgwefr"></script>
  <script>
    // Automatically detect the language
    const getThisStupidThing = localStorage.getItem('language');

    if (!getThisStupidThing) localStorage.setItem('language', 'auto')
    if (getThisStupidThing && getThisStupidThing !== 'auto')
      document.querySelector('.changeLanguageBtn').textContent = localStorage.getItem('language');

    let language;
    setInterval(() => {
      if (localStorage.getItem('language') === 'auto') {
        const checkEditor = window.editor.getValue();
        if (checkEditor.length > 0) {
          const autoLanguage = hljs.highlightAuto(window.editor.getValue())
          const btn = document.querySelector('.changeLanguageBtn');

          if (language === autoLanguage.language) return; // Check if the language is the same as last time.
          if (autoLanguage.relevance < 5) return language = 'none'; // If language relevance is low, dont bother to set it.
          btn.textContent = autoLanguage.language;
          language = autoLanguage.language;

          // Set language to editor
          window.editor.session.setMode(`ace/mode/${language.toLowerCase()}`)
        }
      }
    }, 500)

    const saveText = () => localStorage.setItem('saveText', window.editor.getValue())

    const restoreSession = () => {
      window.editor.setValue(localStorage.getItem('saveText'))
      localStorage.removeItem('saveText');
      document.getElementById('restoreSes').remove()
    }

    // Some consts we need
    const template = document.getElementById('accountDrop');
    tippy('#account', {
      content: template.innerHTML,
      allowHTML: true,
      trigger: 'click',
      placement: 'bottom',
      animation: 'shift-away',
      interactive: true,
    });
    tippy('.tooltip', {
      arrow: false,
      animation: 'shift-away',
      placement: 'bottom'
    })
    const loggedIn = JSON.parse('<%= loggedIn %>')
    const settings = {
      clipboard: loggedIn ? JSON.parse('<%= settings.clipboard %>') : false,
      longerUrls: loggedIn ? JSON.parse('<%= settings.longerUrls %>') : false,
      instantDelete: loggedIn ? JSON.parse('<%= settings.instantDelete %>') : false,
      encrypted: loggedIn ? JSON.parse('<%= settings.encrypted %>') : false,
      expiration: loggedIn ? JSON.parse('<%= settings.expiration %>') : 5,
      imageEmbed: loggedIn ? JSON.parse('<%= settings.imageEmbed %>') : false,
    }

    const languageStorage = localStorage.getItem('language');

    window.editor = ace.edit("codeThing");
    editor.setOptions({
      showPrintMargin: false,
      fontSize: '14.5px',
    });
    editor.session.setUseWrapMode(true)
    editor.session.setMode(languageStorage && languageStorage !== "auto" ? `ace/mode/${languageStorage}` : "ace/mode/plain_text");

    (() => {
      const duplicate = localStorage.getItem("duplicateDocument");
      if (duplicate) {
        localStorage.removeItem('duplicateDocument')
        return window.editor.session.setValue(duplicate)
      }

      navigator.clipboard
        .readText()
        .then((copiedText) => {
          if (settings.clipboard) {
            const restore = localStorage.getItem('saveText');
            window.editor.session.setValue(copiedText);
            if (restore && restore.length > 0 && copiedText !== restore) {
              const messages = document.getElementById('messages');
              messages.innerHTML += '<li class="message info clickableMsg" onclick="restoreSession()" id="restoreSes"><i class="fas fa-question" style="padding-right: 9px;"></i> Restore last session?</li>'
            }
            editor.focus()
            editor.navigateFileEnd();
          }
        })
        .catch((err) => {
          console.log(err)
          console.log("denied paste capabilities");
        });
    })()

    async function createDocument() {
      if (window.editor.getValue() == 0) return console.log("you gotta put sum in b");
      const editorArray = JSON.parse(localStorage.getItem('editorArray'))
      let editors = editorArray ? editorArray.map((user) => user.username) : []


      const options = {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          code: window.editor.getValue().toString(),
          language: window.editor.session.$modeId.replace('ace/mode/', ''),
          longerUrls: settings.longerUrls,
          imageEmbed: settings.imageEmbed,
          expiration: settings.expiration,
          instantDelete: settings.instantDelete,
          encrypted: settings.encrypted,
          editors: editors
        })
      }
      fetch("/api/document", options)
        .then(async res => {
          const messages = document.getElementById('messages');

          if(res.status === 413) return messages.innerHTML += `<li class="message error"><i class="fas fa-times" style="padding-right: 9px;"></i> Text too large!</li>`
          
          const documentRes = await res.json();

          localStorage.removeItem('saveText');
          if (documentRes.document.instantDelete || documentRes.document.encrypted) {
            let urlToCopy;
            if (documentRes.document.encrypted) {
              console.log(documentRes.document);
              urlToCopy = `/p/${documentRes.document.documentId}?password=${documentRes.document.password}`
              window.history.pushState({}, null, urlToCopy);
              messages.innerHTML += `<li class="message success"><i class="fas fa-check" style="padding-right: 9px;"></i> Copied password!</li>`
            } else {
              urlToCopy = `/p/${documentRes.document.documentId}`
              window.history.pushState({}, null, urlToCopy);
              messages.innerHTML += `<li class="message success"><i class="fas fa-check" style="padding-right: 9px;"></i> Copied URL!</li>`
            }
            return copy(`${location.href}`)
          }

          localStorage.removeItem('editors')
          location.href = `/p/${documentRes.document.documentId}?copy=true`
        })
        .catch(err => {
          console.log(err);
        });
    }

    function copy(thingToCopy) {
      const linkBox = document.createElement("textarea");
      linkBox.value = thingToCopy
      document.body.appendChild(linkBox);
      linkBox.select();
      document.execCommand("copy");
      document.body.removeChild(linkBox);
    }
  </script>
</body>

</html>
