<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
  <meta property="og:image" content="/assets/favicon/favicon-96x96.png">
  <title>IMPERIAL</title>
  <meta name="description" content="A hastebin alternative with user experience in mind.">
  <meta name="keywords"
    content="Imperial, Imperialb, Imperialbin, imperialb.in, hastebin, bin, paste, instant delete pastes, document sharing, code sharing, visual studio code, vsce, vsc, vs, visual studio, code, developer, developers, dev, devlooskie, looskie, looskieee, IMPERIAL, paste your document, paste, your, document, editor, invite only, invite, api, restful api, json api, pxlblue, pxl.blue, pxl, blue, discord">
  <link rel="stylesheet" href="/assets/css/codeColor.css?v=5">
  <link rel="stylesheet" href="/assets/css/reallyGlobal.css?v=5">
  <link rel="stylesheet" href="https://unpkg.com/tippy.js@6.2.7/animations/shift-away.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/ec3f0c8487.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>
</head>


<body>
  <div class="pasteSettings" id="paster">
    <div class="pasteContainer">
      <h1>Can we automatically paste your clipboard?</h1>
      <p>(leave turned off if you do not want it)</p>
      <label class="switch">
        <input type="checkbox" id="clipCheck2">
        <span class="slider round"></span>
      </label><br>
      <p style="display: none;" id="allow">Please allow clipboard access!</p>
      <br>
      <button id="save-settings" class="saveSettings" onclick="setPaste()">Save</button>
      <br><br>
    </div>
  </div>
  <div class="pasteSettings" id="addUser">
    <div class="pasteContainer">
      <h1>Add users to allow edit access</h1>
      <input id="user" type="text" autocomplete="off" placeholder="Add a user here">
      <button class="addUserBtn" onclick="addUser(document.getElementById('user').value)">Add user</button>
      <div class="users"></div>
      <br><br><button id="cancel-settings" class="cancelSettings"
        onclick="localStorage.removeItem('addUser'); cancelSettings('clearThing')">Clear
        all</button>
      <button onclick="cancelSettings('clearThing')">Save</button>
      <br><br>
    </div>
  </div>
  <%- include('partials/pasteSettings.ejs'); %>
  <% if( loggedIn ) {%>
  <div class="menu">
    <div class="settings" id="accountDrop" style="display: none;">
      <ul class="account">
        <li class="setting" onclick="location.href='/account'">User settings</li>
        <li class="setting" onclick="toggleMenu()">Paste settings</li>
        <li class="setting" id="discord" onclick="window.open('https://discord.gg/cTm85eW49D', '_blank')">
          Discord</li>
        <div class="dumbLine"></div>
        <li class="setting" id="logoutBtn" onclick="location.href = '/logout?_method=DELETE'">Logout
        </li>
      </ul>
    </div>
    <div class="menu-content">
      <h6>IMPERIAL</h6>
      <ul>
        <li id="users" class="addEditors"><button id="icon" onclick="toggleAddUser()"><i
              class="fas fa-user-friends"></i></button></li>
        <li id="save" class="save"> <button id="icon" onclick="uploadCode()"><i class="far fa-save fa-lg"></i></button>
        </li>
        <li id="new" class="new"> <button id="icon" onclick="newDocument()"><i
              class="fas fa-file-alt fa-lg"></i></button> </li>
        <li id="account"> <img src="<%= pfp %>" alt="Profile picture" class="pfp" draggable="false">
        </li>
      </ul>
    </div>
    <ul id="messages"></ul>
  </div>
  <% } else { %>
  <div class="menu">
    <div class="settings" id="accountDrop" style="display: none;"></div>
    <div class="menu-content">
      <h6>IMPERIAL</h6>
      <ul>
        <li id="save" class="save"> <button id="icon" onclick="uploadCode()"><i class="far fa-save fa-lg"></i></button>
        </li>
        <li id="new" class="new"> <button id="icon" onclick="newDocument()"><i
              class="fas fa-file-alt fa-lg"></i><br></button>
        </li>
        <li> <button id="login" onclick="location.href='/login'">Login</button> </li>
        <li> <button id="signup" onclick="location.href='/register'">Signup</button> </li>
        <li id="account"> <img src="/assets/img/pfp.png" alt="Profile picture" class="pfp" draggable="false"
            style="display: none"> </li>
      </ul>
    </div>
    <ul id="messages"></ul>
  </div>
  <% }%>
  <div id="codeThing" class="editor"></div>
  <script src="/assets/js/min/vs/loader.js"></script>
  <script>
    // Some consts we need
    const loggedIn = JSON.parse('<%= loggedIn %>')
    const settings = {
      longerUrls: loggedIn ? JSON.parse('<%= settings.longerUrls %>') : false,
      instantDelete: loggedIn ? JSON.parse('<%= settings.instantDelete %>') : false,
      encrypted: loggedIn ? JSON.parse('<%= settings.encrypted %>') : false,
      expiration: loggedIn ? JSON.parse('<%= settings.expiration %>') : 5,
      imageEmbed: loggedIn ? JSON.parse('<%= settings.imageEmbed %>') : false,
    }

    // Some monaco stuff
    require.config({ paths: { vs: '/assets/js/min/vs/' } });

    require(['vs/editor/editor.main'], async function () {

      // Fetch theme
      await fetch('./assets/themes/theme.json')
        .then(res => res.json())
        .then(theme => {
          monaco.editor.defineTheme('theme', theme)
          monaco.editor.setTheme('theme');
        }).catch((err) => {
          monaco.editor.setTheme('vs-dark');
        })
      // Set editor
      window.editor = monaco.editor.create(document.getElementById('codeThing'), {
        language: 'javascript',
        automaticLayout: true,
        scrollBeyondLastLine: false,
        wordWrap: true,
        tabCompletion: true,
        links: true,
        theme: "theme",
        minimap: {
          enabled: false,
        }
      });

      // After setting the editor focus on it
      $("#codeThing").focus();

      const duplicate = localStorage.getItem("duplicatePaste");
      if (duplicate) return window.editor.setValue(duplicate);

      navigator.clipboard
        .readText()
        .then((copiedText) => {
          // Cody remember to change this in prod
          if (true) window.editor.setValue(copiedText);
        })
        .catch((err) => {
          console.log(err);
          console.log("denied paste capabilities");
        });
    });

    async function createDocument() {
      if (window.editor.getValue() == 0) return console.log("you gotta put sum in b");

      const options = {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          code: window.editor.getValue().toString(),
          longerUrls: settings.longerUrls,
          imageEmbed: settings.imageEmbed,
          expiration: settings.expiration,
          instantDelete: settings.instantDelete,
          encrypted: settings.encrypted,
        })
      }
      fetch("/api/document", options)
        .then(res => res.json())
        .then((document) => {
          if (document.instantDelete || document.encrypted) {
            return console.log('Encrypted or instant delete')
          }

          localStorage.removeItem('editors')
          location.href = `/p/${document.documentId}?copyLink=true`
        }).catch(err => {
          console.log(err);
        });
    }
  </script>
  <script src="/assets/js/global.js?v=4"></script>
  <script src="/assets/js/main.js?v=4"></script>
  <script>
    if (!localStorage.getItem('clipboard')) {
      document.querySelector('#paster').classList.add('active');
      document.querySelector("#clipCheck2").addEventListener('change', (e) => {
        navigator.permissions.query({ name: 'clipboard-read' }).then(result => {
          if (result.state == 'granted') {
            $('#allow').css('display', 'none');
          } else {
            if (e.target.checked) {
              $('#allow').css('display', 'block')
            } else {
              $('#allow').css('display', 'none');
            }
          }
        })
      })
    }

    // A tippy thing
    const template = document.getElementById('accountDrop');
    tippy('#account', {
      content: template.innerHTML,
      allowHTML: true,
      trigger: 'click',
      placement: 'bottom',
      animation: 'shift-away',
      interactive: true,
    });
  </script>
</body>

</html>